@charset "utf-8";

.vcWrapper {
	position: relative;
	width: 300px;
	padding: 20px 0;
}
.vcWrapper ul.vcPage {
	margin: 0;
	padding: 10px 10px 0;
	overflow: hidden;
	list-style-type: none;
}
.vcWrapper ul.vcPage li {
	min-height: 105px;
	padding-bottom: 10px;
}
* html .vcWrapper ul.vcPage li {
	height: 105px;
	overflow: visible;
}
.vcWrapper .vcPrev {
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 20px;
	overflow: hidden;
	cursor: pointer;
	text-indent: -9999px;
	background: #aaa;
}
.vcWrapper .vcNext {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 300px;
	height: 20px;
	overflow: hidden;
	cursor: pointer;
	text-indent: -9999px;
	background: #aaa;
}
.vcWrapper .vcPrev.hover,
.vcWrapper .vcNext.hover {
	background: #bbb;
}
.vcWrapper .vcPrev.active,
.vcWrapper .vcNext.active {
	background: #999;
}
.vcWrapper .vcPrev.disabled,
.vcWrapper .vcNext.disabled {
	cursor: default;
	background: #eee;
}

.vcWrapper .vcCarousel {
	position: relative;
	height: 470px;
	border: 1px solid #cccccc;
	overflow: hidden;
}
.vcWrapper .vcPager {
	position: absolute;
	top: -1.5em;
	right: 0;
}
