@charset "utf-8";
div.vCarouselWrapper {
	margin: 50px auto;
	width: 300px;
	position: relative;
}
div.vCarouselWrapper li.prevButton {
	position: absolute;
	top: -10px;
	left: 50%;
	cursor: pointer;
	z-index: 2;
}
div.vCarouselWrapper li.nextButton {
	position: absolute;
	bottom: -10px;
	left: 50%;
	cursor: pointer;
	z-index: 2;
}
div.vCarousel {
	position: relative;
	height: 470px;
	border: 1px solid #cccccc;
	overflow: hidden;
}
div.vCarouselInner ul.pageSet {
	width: 280px;
	padding: 10px 10px 0;
	overflow: hidden;
	list-style-type: none;
}
div.vCarouselInner ul.pageSet li {
	min-height: 105px;
	padding-bottom: 10px;
	background: #ffffff;
	z-index: 0;
}
* html div.vCarouselInner ul.pageSet li {
	height: 105px;
	overflow: visible;
}
div.vCarouselPager {
	position: absolute;
	top: -1.5em;
	right: 0;
}
div.vCarouselInner ul.pageSet dl {
	overflow: hidden;
	zoom: 1;
}
div.vCarouselInner ul.pageSet dt {
	float: left;
}
div.vCarouselInner ul.pageSet dd {
	margin-left: 150px;
}
